version: '3'
services:
  nginx:
    build:
      context: ./
      dockerfile: Dockerfile.nginx
    container_name: thq3_server
    volumes:
        - ./nginx:/var/www
    ports:
        - "7085:80"
    links:
        - api

  api:
    build:
      context: ./
      dockerfile: Dockerfile.web
    container_name: thq3_api
    volumes:
      - ./app:/var/www